@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=Fira+Code:400,700);

/*
Content Page Container
Change overall font size here!
*/


/*
Default page container, 100% width
*/

.bg_uke {
  padding: 50px;
  padding-top: 90px;
  margin: 0px;
  font-size: 1.4em !important;
}


/*
Default narrow page container, 75% width. Use for 16:9 format,
to avoid over-lengthy lines
*/

.bg_uke_narrow {
  padding: 50px;
  padding-top: 90px;
  padding-right: 25%;
  margin: 0px;
  font-size: 1.4em !important;
}




/*
Default color for hyperlinks
*/

.bg_uke a, .bg_uke_narrow a, .title-slide a, .section-slide a {
  color: #04C3CD !important;
  text-decoration: none !important;
}





/*
Main formatting
*/

body {
  font-family: 'Source Sans Pro', 'PT Sans', sans-serif;
  color: #3D3D3D;
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  color: #004992;
  /* text-shadow: 1px 1px #f0f0f0; */
}

h1 {
  font-size: 1.8em !important;
}

h2 {
  font-size: 1.4em !important;
}

h3 {
  font-size: 1.2em !important;
}

ul {
  list-style-image: url("../img/bullet.png");
  /* list-style-type: square; */
}

img {
  max-width: 100%;
  max-height: 100%;
}

blockquote {
  border-left: solid 4px #7297b0;
  padding-left: 20px;
  padding-right: 20px;
  color: #575756;
}


/*
Title Page formatting
*/

.title_box {
  position: absolute;
  left: 0;
  bottom: 150px;
  background-color: #DCE6F2;
  padding: 0;
  padding-top: 30px;
  width: 100%;
  border-top:4px solid #004a93;
}

.uke_title {
  background-image: url("../img/uke.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 50px;
  width: 90%;
  height: 100px;
  z-index: 0;
}

.title_box_logo {
  background-image: url("../img/uke2.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: 25px;
  height:100px;
  width: 400px;
}

.title-slide .remark-slide-number {
  display: none;
}

.title-slide h1 {
  font-size: 2.2em !important;
  /* font-family: 'Source Sans Pro', 'PT Sans', sans-serif; */
  padding-left: 50px !important;
}

.title-slide h2 {
  font-size: 1.6em !important;
  /* font-family: 'Source Sans Pro', 'PT Sans', sans-serif; */
  padding-left: 50px !important;
  padding-bottom: 30px !important;
}

.title-slide h3 {
  font-family: 'Source Sans Pro', 'PT Sans', sans-serif;
  font-size: 1em !important;
  background-color: white;
  color: #3d3d3d;
  margin: 0;
  padding: 30px !important;
  padding-left: 50px !important;
}



/*
Section Slide
*/

.section_box {
  position: absolute;
  left: 0;
  bottom: 250px;
  padding: 0;
  padding-top: 30px;
  width: 100%;
}

.section_box_logo {
  position: absolute;
  right: 0;
  bottom: 325px;
  padding: 0;
  width: 170px;
}

.uke_section {
  background-image: url("../img/uke.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 30px;
  left: 50px;
  width: 90%;
  height: 100px;
  z-index: 0;
}

.section-slide h1 {
  font-size: 2.2em !important;
  /* font-family: 'Source Sans Pro', 'PT Sans', sans-serif; */
  padding-left: 50px !important;
}

.section-slide h2 {
  font-size: 1.2em !important;
  /* font-family: 'Source Sans Pro', 'PT Sans', sans-serif; */
  padding-left: 50px !important;
  color: #3D3D3D;
}



/*
Slide Header Container
*/

.uke_header {
  background-image: url("../img/uke.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 15px;
  left: 50px;
  width: 90%;
  height: 70px;
  z-index: 0;
}

.uke_header p {
  font-family: "PT Sans", "Source Sans Pro", sans-Serif;
  font-size: 20px !important;
  color: #999999;
  width: 100%;
  text-align: center;
  /*
  color: #004992;
  text-align: left;
  padding-left: 120px;
  */
}



/*
Source code formatting
*/

.remark-code {
  font-family: 'Fira Code', 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  font-size: 0.8em !important;
}

.remark-inline-code {
  font-family: 'Fira Code', 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  font-size: 0.9em !important;
  color: #004992;
}

.hljs-github .hljs {
  background-color: #F9F6F4 !important; /* for beamer possibly #F2EFEC  */
}

.hljs-comment {
  color: #7F7F7F !important;
  font-style: normal !important;
}



/*
Special page / column / paragaraph formatting
*/

.pull_left {
  float: left;
  width: 48%;
}

.pull_right {
  float: right;
  width: 48%;
}

.pull_right ~ * {
  clear: both;
}

.narrow_box {
  width: 70%;
}

.footnote {
  position: absolute;
  bottom: 60px;
  padding-right: 4em;
  font-size: 0.9em;
  color: #5f5f5f;
}

.text_table_header {
  color: #004992;
  font-size: 1.1em !important;
}

.cite {
  background-color: #F2F4F9;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1em;
  color: #004992;
}

.cite_center {
  background-color: #F2F4F9;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1em;
  color: #004992;
  text-align:center ;
}

/*
spacer can be used with <hr>, like <hr class="spacer">
*/
.spacer{
  border: none;
  margin-top: 1.7em;
}

.smallspacer{
  border: none;
  margin-top: 1em;
}

.blue {
  color: #004992;
}

.red {
  color: #B22229;
}

.orange {
  color: #EF7B05;
}

.amber {
  color: #FCBE0E;
}

.yellow {
  color: #FFDF00;
}

.green {
  color: #8ABD24;
}

.brown {
  color: #AA9C8F;
}

.grey {
  color: #3D3D3D;
}

.header_center {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  color: #004992;
  text-align: center;
  font-size: 2em !important;
  width: 95%;
}



@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}
